# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sourcecode\jdk1.8.0_261\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
